
.grid-container {
  display: grid;
  grid-template-rows: 100vh 100vh 100vh;
}

.grid-container-header {
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: #eaebed;
  height: 100vh;
 
}
.grid-container-header-logo{
display: flex;
justify-content: space-around;
}
.grid-container-header-text{
  display: flex;
  text-align: center;
  justify-content: center ;
}
.grid-container-main {
  display: grid;
  grid-template-columns: 10% auto 10%;
  background-color: #cad1d7;
  height: 100vh;
}
.grid-container-main-content{
  display:flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: 10% auto auto 10%;
  background-color: #153e54;
  height: 70vh;
  padding-top: 5em;
  padding-bottom: 5em;
 
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-doc{

  text-align: center;
  align-items: center;
  justify-content: center;
}

.grid-item-info{
 display: grid;
 grid-template-rows: 80% 20%;
 justify-content: center;
}

.info-text{
  color: white;
}


body{
 font-family: Arial, Helvetica, sans-serif;
}

.axeptia-logo{
  height: 2em;
}
.oslomet-logo{
  height: 3em;
}

img{
  height: 300px;
}



  
  